#canvas {
  background-color: #ffffe6;
  height:600px;
  width:600px;
  display:inline-block;
}

#colorPallete {
  background-color: black;
  height: 200px;
  width: 250px;
}
#colorPreview {
  background-color:green;
  height:100px;
  width: 100px;
  float:right;
}

.pallete {
  height: 8.33%;
  width: 8.33%;
}

#sidebar {
  background-color: pink;
  height:600px;
  width:250px;
  display: inline-block;
}

.block {
  position:relative;
  height:5%;
  width:5%;
  display:inline-block;
}
.block:hover {
  background-color:red;
