body {
background: #5f357d;
  background: radial-gradient(circle farthest-corner at right bottom, #ffd08a 0%, #ffa376 28%, #d26578 52%, #682a84 79%, #241668 100%)
}

h1 {
  text-align: center;
  display: none;
}

#pixelPainter {
  margin: auto;
  width: 50%;
  display: block;

}

#canvas {
  background-color: white;
  display:inline-block;
  border:solid;
  margin: auto;
}
#sidebar {
  background-color: darkgrey;
}

#colorPallete {
  height: 50px;
  margin: 2px;
  border: solid;
  display: flex;
}
.pallete {
  display: inline-block;
  height: 100%;
  width: 8.33%;
  border-right: solid;
}
#buttonBox {
  text-align: center;
  margin: 20px 0;
  padding-bottom: 10px;
}
#buttonBox div,
#buttonBox input
{
  display: inline-block;
  margin-right: 20px;
}
#black {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  margin: auto;
  vertical-align: 20px;
  box-shadow: 5px 5px 5px #888888;
}
#white {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  vertical-align: 20px;
  box-shadow: 5px 5px 5px #888888;
}

#eraser1 {
  background-image: url("http://icons.iconarchive.com/icons/designcontest/outline/32/Eraser-icon.png");
  height: 32px;
  width: 32px;
  vertical-align: 30px;
  cursor:pointer;
}
#eraser2 {
  background-image: url("http://icons.iconarchive.com/icons/designcontest/outline/48/Eraser-icon.png");
  height: 46px;
  width: 46px;
  vertical-align: 30px;
  cursor:pointer;
}

#colorPreview {
  background-color:green;
  height:50px;
  width: 50px;
  border-style:groove;
  float: right;
  box-shadow: 10px 10px 5px #888888;
}
.block {
  position:relative;
  display:inline-block;

}
.block:hover {
  background-color: yellow;
}
#colorRandomizer {
  vertical-align: 40px;
  height: 30px;
  width: 100px;
}
#clear {
  display: inline-block;
  height: 30px;
  width: 60px;
  vertical-align: 40px;
}

input {
padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px;
}
#partyButton {
  float:left;
  background-color: linear-gradient(45deg, blue, red);
}