#canvas {
  background-color: white;
  height:600px;
  width:600px;
  display:inline-block;
  border:solid;
}
#sidebar {
  background-color: pink;
  height:600px;
  width:250px;
  display: inline-block;
}

#colorPallete {
  background-color: black;
  height: 200px;
  width: 250px;
}
.pallete {
  height: 8.33%;
  width: 8.33%;
}
#colorPreview {
  background-color:green;
  height:50px;
  width: 50px;
  float:right;
  border-style:groove;
}
#colorRandomizer {
  float:right;

}
.block {
  position:relative;
  height:5%;
  width:5%;
  display:inline-block;
}
.block:hover {
  background-color: yellow;
}

