h1 {
  text-align: center;
  display: none;
}

#pixelPainter {
  margin: auto;
  width: 50%;
  display: block;

}

#canvas {
  background-color: white;
  display:inline-block;
  border:solid;
  margin: auto;
}
#sidebar {
  background-color: lightgrey;
}

#colorPallete {
  height: 50px;
  margin: 2px;
}
.pallete {
  display: inline-block;
  height: 100%;
  width: 8.33%;
}
#buttonBox {
  text-align: center;
  margin: 20px 0;
}
#buttonBox div,
#buttonBox input
{
  display: inline-block;
  margin-right: 20px;
}
#black {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  margin: auto;
  vertical-align: 20px;
}
#white {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  vertical-align: 20px;
}

#eraser1 {
  background-image: url("http://icons.iconarchive.com/icons/designcontest/outline/32/Eraser-icon.png");
  height: 32px;
  width: 32px;
}
#eraser2 {
  background-image: url("http://icons.iconarchive.com/icons/designcontest/outline/48/Eraser-icon.png");
  height: 46px;
  width: 46px;
}

#colorPreview {
  background-color:green;
  height:60px;
  width: 60px;
  border-style:groove;
  margin-bottom: 10px;
  float: right;
}
#colorRandomizer {
  vertical-align: 20px;
  height: 30px;
  width: 80px;
}
.block {
  position:relative;
  display:inline-block;

}
.block:hover {
  background-color: yellow;
}

#clear {
  vertical-align: 20px;
  display: inline-block;
  height: 30px;
  width: 60px;
}
